<h2>Componente de {{nombre}}</h2>
<h3 [style.color]="'blue'" *ngIf="mostrar_retro != true">El mejor juego es: {{mejor_juego}}</h3>
<h3 [style.color]="color" *ngIf="mostrar_retro">El mejor juego es: {{mejor_juego_retro}}</h3>
<h2>Listado de videojuegos:</h2>
<ul>
    <li *ngFor="let videojuego of videojuegos">{{videojuego}}</li>
</ul>
<!-- Las directivas condicionales o esctructuras de control, van precedidas de un simbolo *.
Podemos aplicar estilos css introduciendo un string con el valor, o pasando una propiedad con el valor. -->